<div class="container-fluid">
 <div class="row">
  <div>
                  <h3>New memo</h3>
                  <p>Название заметки: {{newMemo.title}}</p>
                  <p>Текс заметки: {{newMemo.memo}}</p>
                  <p>Время создание: {{newMemo.time}}</p>

   </div>
    <a href="/memo/change/{{newMemo.id}}">Edit</a>|
    <form action="/memo/delete/{{newMemo.id}}" method="POST" style="display:inline;">
        <input type="submit" value="Delete" />
    </form>

  </div>
</div>